<div class="link form" id="form{{ group.Name }}container" style="display:none;">
  <form id="form{{ group.Name }}">
    <input type="hidden" name="parent_id" value="{{ Node.NodeId }}" />
    <input type="hidden" name="parent_provider" value="{{ Node.Provider }}" />
    <div class="row">
      <div class="col col2-3 set">
        <a class="system dashed tab-switch" href="javascript:;" data-target="text" data-tabgroup="{{ group.Name }}">Text</a>
        <a class="system dashed tab-switch" href="javascript:;" data-target="url" data-tabgroup="{{ group.Name }}">Url</a>
        <a class="system dashed tab-switch" href="javascript:;" data-target="file" data-tabgroup="{{ group.Name }}">File</a>
        <a class="system dashed tab-switch" href="javascript:;" data-target="search" data-tabgroup="{{ group.Name }}">Search</a>
      </div>
      <div class="col col1-3 text-right">
        <input type="text" name="comment" class="italic" placeholder="Write comment here" value="{{ group.Name }}"/>
      </div>
    </div>
    <div class="row form-section {{ group.Name }}tab active" data-tab="text">
      <input type="hidden" name="text" />
      <textarea id="form-text-field{{ group.Name }}" class="formatted-text"></textarea>
    </div>
    <div class="row form-section {{ group.Name }}tab" style="display:none;" data-tab="url">
      <div class="row field">
        <label for="url">URL</label>
        <input type="text" name="url" />
      </div>
      <div class="row">
        <input type="checkbox" id="download" name="download" />
        <label for="download">Should download content</label>
      </div>
    </div>
    <div class="row form-section {{ group.Name }}tab" style="display:none;" data-tab="file">
      <input type="file" name="file" multiple="" />
    </div>
    <div class="row form-section {{ group.Name }}tab" style="display:none;" data-tab="search">
      <div class="row field">
        <label for="search">Search</label>
        <input type="text" name="search" class="searchinput full-width" data-target="{{ group.Name }}results"/>
      </div>
      <div class="row" id="{{ group.Name }}results"></div>
    </div>
    <div class="row form-section set text-right">
      <a href="javascript:;" class="system button small">Cancel</a>
      <a href="javascript:;" class="system button small submitform" data-target="form{{ group.Name }}">Add</a>
    </div>
  </form>
  <script type="text/javascript">
    initEditor('#form-text-field{{ group.Name }}');
  </script>
</div>

