<div class="row link {{link.EndNodeProvider}}" data-path="/{{ link.EndNodeProvider }}/{{ link.EndNode|UrlEncode }}">
	<div class="link-content">
		{% assign tpl = "Blocks/Widgets/"|Append:link.EndNodeProvider %}
		{% include tpl %}
	</div>  
				
	{% if link.Comment and group.Name == "" %}
	<div class="link-comment">
		{{ link.Comment }}
	</div>
	{% endif %}

	{% if link.Id %}
	<div class="link-tools-container">
		<div class="link-tools">
			<a href="/links/{{ link.Id }}/delete" title="Unlink" class="system button small">Unlink</a>
		</div>
	</div>                
	{% endif %} 
</div>