{% extends 'item_layout' %}

{% block item_controls %}
	<div class="ui item">
		<div class="ui dropdown ">
			<i class="add icon"></i>
			<span class="text">New</span>
			<div class="menu">
				{% for creator in Creators %}
					<div class="item" onclick="$('#creator-{{ creator.Id }}').modal('show');">{{ creator.Name }}</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="ui item"><div class="ui label">{{ Item.Modified }}</div></div>   	
	<a class="ui item" href="/download/{{Item.FullPath}}"><i class="download icon"></i> Download</a>
	<a class="ui item needconfirm red" href="javascript:;" title="Delete folder and all its contents"><i class="delete icon"></i> Delete</a>			
	<div class="ui item" href="#"><div class="ui button"><i class="file text icon"></i> Notes</div></div>
<script type="text/javascript">
$('.popuped').popup();
$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop',
	action: 'hide'
  });
</script>
{% endblock %}

{% block item_content %}
	<div class="ui basic segment">
		<div class="ui cards">
			{% for child in Item.ChildDirectories %}
			<a class="ui card" href="{{ child.URL }}">
				<div class="content">
					<div class="header">{{ child.Name }}</div>
					<div class="meta" >{{ child.Path }}</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
	
	<div class="ui basic segment">
		<div class="ui cards">
		{% for child in Item.ChildFiles %}
			<a class="ui card" href="{{ child.URL }}">
				<div class="content">
					<div class="header">{{ child.Name }}</div>
					<div class="meta" >{{ child.Path }}</div>
				</div>
			</a>
		{% endfor %}
		</div>		
	</div>

	{% for creator in Creators %}
	<div class="ui small modal" id="creator-{{ creator.Id }}">
	  <div class="header">New {{ creator.Name }}</div>
	  <div class="content">
		<form class="ui form" action="?action=create&creator={{ creator.Id }}" enctype="multipart/form-data" method="POST">
		  {% include creator.Template %}
		  <button class="ui primary button" type="submit">Submit</button>
		</form>
	  </div>
	</div>
	{% endfor %}
{% endblock %}

{% block item_notes %}
	{% if Item.Index %}
		{% include 'Blocks/md_editor' Item:Item.Index %}
	{% endif %}
{% endblock %}