{% extends 'item_layout' %}

{% block item_controls %}
	<div class="ui item"><div class="ui label popuped" data-content="{{ Item.Mime }}">{{ Item.Mime|Truncate:20 }}</div></div>  	
	<div class="ui item"><div class="ui label">{{ Item.Modified }}</div> </div>  
	<a class="ui item" href="{{Item.URL}}?action=raw"><i class="code icon"></i> Raw</a>
	<a class="ui item" href="{{Item.URL}}?action=download"><i class="download icon"></i> Download <div class="ui label">{{ Item.Size|ReadableSize }}</div></a>
	<a class="ui item needconfirm red" href="{{Item.URL}}?action=delete" title="Delete this file">
	<i class="delete icon"></i> Delete</a>			
	<a class="ui item blue" href="#"><i class="comments icon"></i> Comments</a>
<script type="text/javascript">
$('.popuped').popup();
</script>
{% endblock %}

{% block item_header %}
{% endblock %}

{% block item_content %}
{% block file_content %}{% endblock %}
{% endblock %}