{% extends 'node' %}

{% block node_content %}
    <h4 id="path">{{ Node.Path }}</h4>    
   
    {% block file_content %}{% endblock %}
    
    <div class="row details">
        <div class="col col2-3 set"> 
			{% if Node.IsDirectory != true %}
            <span class="system">{{ Node.Size|ReadableSize }}</span>
            <span class="system tooltipped" data-tooltip="{{ Node.Mime }}">{{ Node.Mime|Truncate:20 }}</span>
			{% endif %}
			<span class="system">{{ Node.LastModified }}</span>       
        </div>
        <div class="col col1-3 set text-right">           
            <a class="system button small" href="/file/{{Node.Path|UrlEncode}}/raw">Raw</a>
            <a class="system button small" href="/file/{{Node.Path|UrlEncode}}/download">Download</a>
			<a class="system button small needconfirm" href="javascript:;" data-action="send('DELETE', '/api/{{ Node.Provider }}/{{ Node.NodeId|UrlEncode }}')" title="Delete this file">Delete</a>			
        </div> 
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var path = $('#path').html();
            var parts = path.split('/');
            var res = "";
            var resPath = "";
            for (var i = 0; i < parts.length - 1; i++) {
                resPath = resPath + "/" + parts[i];
                res += "<a href='/file/" + resPath + "/'>" + parts[i] + "</a>/";
            };
            res += parts[parts.length - 1];
            $('#path').html(res);
        });
    </script>
{% endblock %}