{% extends 'layout' %}

{% block content %}
<div class="ui vertical inverted menu sidebar left visible">		
	<div class="item">
		<div class="ui transparent icon input inverted">
			<input type="text" placeholder="Search...">
			<i class="search icon"></i>
		</div>
	</div>

	<div class="item">
		<a class="title" href="/">Home</a>
		<div class="menu">
			{% for child in User.Base.ChildDirectories %}
			<a class="item" href="{{ child.URL }}">{{ child.Name }}</a>
			{% endfor %}		  
		</div>
	</div>

	<div class="item">
		<a class="title" href="{{ BaseDirectory.URL }}">{{ BaseDirectory.Name }}</a>
		<div class="menu">
			{% for child in BaseDirectory.ChildDirectories %}
			<a class="item" href="{{ child.URL }}">{{ child.Name }}</a>
			{% endfor %}		  
		</div>
	</div>

	<a class="item" href="/logout">Logout</a>		
</div>


<div class="main">
	<div class="header ui grid stackable">	
		<div class="eight wide column">
			<div class="ui huge breadcrumb">
				{% for b in Item.Breadcrumbs %}
					<a class="section" href="{{b.URL}}">
						{% if b.IsRoot %}<i class="icon home"></i>{% else %}{{b.Name}}{% endif %}
					</a>
					<div class="divider"> / </div>
				{% endfor %}			
				<div class="active section">{% if Item.IsRoot %}<i class="icon home"></i> Home{% else %}{{ Item.Name }}{% endif %}</div>
			</div>
			{% if Item.IsRoot != true %}
			<a href="javascript:;" class="ui tiny button" onclick="$('#rename').modal('show');">Rename</a>
			{% endif %}
		</div>		
		
		<div class="eight wide column right aligned">
			<div class="ui secondary menu floated right">	
				{% block item_controls%}{% endblock %}								
			</div>
		</div>
		
		<div class="sixteen wide column">
			{% block item_header %}{% endblock %}					
		</div>
	</div>
	<div class="contentwrapper">
		<div class="content">
			{% block item_content %}{% endblock %}
		</div>
		<div class="notes">
			{% block item_notes %}{% endblock %}
		</div>
	</div>
</div>


<div class="ui small modal" id="rename">
	<div class="content">
		<form class="ui form" action="?action=rename" method="POST">
			<div class="field">
				<label>Name</label>
				<input type="text" name="name" placeholder="New name" value="{{ Item.Name }}">
			</div> 
			<button class="ui primary button" type="submit">Save</button>
		</form>
	</div>
</div>
{% endblock %}