{% extends 'node' %}

{% block node_content %}       
	<div class="card">
		<h3><a href="{{Node.Url}}" target="_blank">{{ Node.Name }}</a></h3>   
		<a href="{{Node.Url}}" target="_blank">{{ Node.Url }}</a>
	</div>
    <div class="row details">
        <div class="col col2-3">                        
            <div class="system">{{ Node.DateAdded }}</div>
        </div>
        <div class="col col1-3 set text-right">                       
            <a class="system button small" href="#">Download</a>
            <a class="system button small needconfirm" href="javascript:;" data-action="send('DELETE', '/api/{{ Node.Provider }}/{{ Node.NodeId }}')" title="Delete this url">Delete</a>
        </div> 
    </div>   
{% endblock %}