{% if link.Node.IsDirectory == false %}
	{% if link.Node.Extension %}  
	<img class="link-image" src="/static/img/file-icons/{{link.Node.Extension}}.png" alt="" /> 
	{% else %}
	<img class="link-image" src="/static/img/file-icons/_blank.png" alt="" /> 
	{% endif %}
{% endif %}
{{ link.Node.Name }}
{% if link.Node.IsDirectory == false %}
{{ link.Node.Size|ReadableSize }}
<div class="set">
	<a class="system" href="/{{ link.EndNodeProvider }}/{{link.EndNode|UrlEncode}}/raw">Raw</a>&nbsp;
	<a class="system" href="/{{ link.EndNodeProvider }}/{{link.EndNode|UrlEncode}}/download">Download</a>
</div>
{% else %}
<div class="system">Folder</div>
{% endif %}
