{{ link.Node.Name }}
{% if link.Node.IsDirectory == false %}
{{ link.Node.Size }}
<div class="row set">
    <a class="system" href="/{{ link.EndNodeProvider }}/raw/{{ link.EndNode }}">Raw</a>&nbsp;
    <a class="system" href="/{{ link.EndNodeProvider }}/download/{{ link.EndNode }}">Download</a>
</div>
{% else %}
<div class="system">Folder</div>
{% endif %}