{{ link.Node.Name }}
{% if link.Node.IsDirectory == false %}
{{ link.Node.Size|ReadableSize }}
<div class="row set">
    <a class="system" href="/{{ link.EndNodeProvider }}/{{link.EndNode|UrlEncode}}/raw">Raw</a>&nbsp;
    <a class="system" href="/{{ link.EndNodeProvider }}/{{link.EndNode|UrlEncode}}/download">Download</a>
</div>
{% else %}
<div class="system">Folder</div>
{% endif %}