{% if link.Node.Name %}
  <div>{{ link.Node.Name|Truncate:100 }}</div>
{% endif %}
<div>
  <a href="{{ link.Node.Url }}" class="link-title" target="_blank">{{ link.Node.Url|Truncate:100 }}</a>
</div>
{% if link.Node.Image %}  
<div class="link-additional">
    <a href="/{{ link.EndNodeProvider }}/{{ link.EndNode|UrlEncode }}">
        <img src="{{link.Node.Image}}" alt="" class="responsive-img z-depth-1" />
    </a>
</div>
{% endif %}